#application {
    padding:0;
    padding-top:115px;
    text-align:center;
    height:100%;
    width:100%;
    margin:0px auto 0px auto;
    overflow:auto;
}

#application .track:last-of-type {
    margin-bottom:120px;
}