/* Mobile-first CSS */

html, body {
    height:100%;
}

body {
    width:100%;
    font-size:100%;
}

.page-wrapper {
    background-color:#e6e6e6;
    min-height:100%;
    min-width:100%;
}

.content-wrapper {
    width:100%;
    margin:auto;
    height:100%;
    position:relative;
    margin:0;
    padding:0;
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    padding:20px;
    height:50px;
    font-size:12px;
    z-index:2;
}

footer span#app-name {
    font-size:18px;
}

footer {
    padding:10px 50px;
}

#title-bar {
    height:30px;
    padding:0px 15px;
    width:100%;
    display:block;
    position:fixed;
    top:0;
    right:0;
    margin:0;
    margin-bottom:30px;
    z-index:3;
    width:100%;
}

#title-bar h1 {
    font-size:30px;
}

#title-bar h2 {
    font-size:14px;
}

#title-bar h1, #title-bar h2 {
    margin:10px;
}

#info-link {
    position:absolute;
    right:40px;
    bottom:10px;
    font-size:25px;
    color:white; 
    opacity:0.7;
    -webkit-transition: opacity .3s;
            transition: opacity .3s;
}

#info-link img {
    height:30px;
    width:30px;
}

#info-link:hover {
    opacity:1;       
}

a {
    -webkit-transition: color .3s;
            transition: color .3s;
}

.primary-color {
    background-color:#00FFB6;
    -webkit-box-shadow: 0px 30px 30px -2px rgba(255, 255, 255, .4) inset;
            box-shadow: 0px 30px 30px -2px rgba(255, 255, 255, .4) inset;
}

.secondary-color {
    background-color:#00E1FF;
    -webkit-box-shadow: 0px 40px 40px -2px rgba(0, 0, 0, .1) inset;
            box-shadow: 0px 40px 40px -2px rgba(0, 0, 0, .1) inset;

}

a:active, a:focus, a:hover {
    text-decoration:none;
}

@media screen and (min-width:767px) {
    #subtitle {
        margin-top:10px;
    }    
}

.upload-drop-zone {
  height: 50px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 50px;
  text-align: center
}

.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

#addTrackModal .tab-pane {
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    margin:10px 0 10px 0;
    padding:10px;
    text-align:left;
    height:90px;
}

#addTrackModal .tab-pane#sound-upload{
    height:170px;
}

#addTrackModal .dropdown-header {
    font-size:14px;
}

#addTrackModal .panel-group {
    margin-bottom:0;
}

.btn {
    -webkit-transition:background-color .4s;
       -moz-transition:background-color .4s;
            transition:background-color .4s;
}

#addTrackModal #dLabel {
    background-color:white;
    border:solid 1px #ccc;
}

#addTrackModal #dLabel:hover, #addTrackModal #dLabel:focus {
    background-color: #e6e6e6;
}

@media screen and (min-width:767px) {
    #title-bar {
        padding:0px 30px;
    }
}