/* Mobile-first CSS */

html, body {
    height:100%;
}

body {
    width:100%;
    font-size:100%;
}

.page-wrapper {
    background-color:white;
    height:100%;
    width:100%;
}

.content-wrapper {
    width:100%;
    margin:auto;
    height:100%;
    position:relative;
    margin:0;
    padding:0;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
    font-size:12px;
}

#title-bar, footer {
    padding:20px 50px;
}

#title-bar {
    padding-right:40px;
    width:100%;
    display:block;
}

#title-bar h1 {
    font-size:30px;
}

#title-bar h2 {
    font-size:14px;
}

#title-bar h1, #title-bar h2 {
    margin:10px;
}

#info-link {
    position:absolute;
    right:40px;
    top:20px;
    font-size:34px;
    color:white; 
    opacity:0.7;
    -webkit-transition: opacity .3s;
            transition: opacity .3s;
}

#info-link:hover {
    opacity:1;       
}

a {
    -webkit-transition: color .3s;
            transition: color .3s;
}

.primary-color {
    background-color:#00FFB6;
    -webkit-box-shadow: 0px 40px 40px -2px rgba(255, 255, 255, .4) inset;
            box-shadow: 0px 40px 40px -2px rgba(255, 255, 255, .4) inset;
}

.secondary-color {
    background-color:#00E1FF;
    -webkit-box-shadow: 0px 40px 40px -2px rgba(0, 0, 0, .1) inset;
            box-shadow: 0px 40px 40px -2px rgba(0, 0, 0, .1) inset;
}

a:active, a:focus, a:hover {
    text-decoration:none;
}

@media screen and (min-width:767px) {
    footer {
        position:absolute;
        bottom:0;
    }
    #subtitle {
        margin-top:10px;
    }    
}

@media screen and (min-width:992px) {
    footer {
        padding:20px 70px;
    }
}