#application {
    padding:0;
    text-align:center;
    height:470px;
    width:100%;
    margin:-2px auto 0px auto;
    overflow:auto;
}

#control-bar {
    width:100%;
    padding:20px 40px;
    margin:auto;
    z-index:2;
}

.large-button {
    font-size: 24px;
    padding:0 10px;
    margin:0 5px;
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.2);
            box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

.large-button, .header-input-box {
    border:0;
    border-radius:3px;
    opacity:0.7;
    background:white;
    color:rgba(0,0,0, 1);
}

.header-input-box {
    font-size:23px;
    width:50px;
    text-align:center;
    margin:0 5px;
    position:relative;
    top:-1px;
}

.header-input-label {
    position:relative;
    left:-42px;
    top:20px;
}
