.track {
    width:95%;
    padding:5px 10px;
    /* box-shadow:0 5px 10px rgba(0,0,0,0.2); */
    margin:0px auto 0 auto;
    text-align:left;
    /* background-color:#00E1FF; */
    -webkit-transition:opacity .2s, background-color .1s;
            transition:opacity .2s, background-color .1s;
    position:relative;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0px rgba(255,255,255,.4);
}

.track.muted {

}


h2.sound-name {
    display:inline-block;
    font-size:14px;  
    margin:10px 5px;
}

button.text-button {
    display:inline-block;
    font-size: 12px;
    color: black;
    border:0;
    border-radius:3px;
    border:solid 2px #c3c3c3;
    opacity:0.7;
    padding:5px 10px;
    /* 
-webkit-box-shadow:0px 5px 5px rgba(0,0,0,0.2);
            box-shadow:0px 5px 5px rgba(0,0,0,0.2);
 */
    -webkit-transition: background-color .2s, border-color .2s;
            transition: background-color .2s, border-color .2s;
}

button.text-button:hover {
    border:solid gray 2px;
}

button.text-button span {
    pointer-events:none;
}

.track-sequencer {
    height:40px;
    margin:10px 0;
    padding:0 10px;
    position:relative;
}

.sequencer-wrapper {
    background:rgba(255, 255, 255, 0.8);
    border-radius:5px;
    border:solid gray 1px;
    padding: 0 10px 0 15px;
    width:auto;
    display:inline-block;
    position:relative;
    box-shadow: 0 3px 5px #ccc inset;
}

table.sequencer-table td:nth-child(4n+0) {
    padding-right:15px;
}

.track-controls {
    margin:10px 0;
    padding:10px 0 0 0;
    height:auto;
}

.delete-button {
    display:inline-block;
    background:none;
    font-size: 16px;
    color:rgba(0,0,0, 0.4);
    border:0;
    border-radius:3px;
    opacity:0.7;
    padding:0;
    top:30px;
    right:5px;
    margin:0px 10px;
    z-index:2;
    position:absolute;
    -webkit-transition: color .2s;
            transition: color .2s;
}

.delete-button:hover {
    color:rgba(0,0,0, 1);
}

.delete-button span {
    pointer-events:none;
}

.sound-select {
    font-size:16px;
    margin: 0px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button.sequence-step {
    margin:10px 5px;
    width:20px;
    height:20px;
    border-radius:5px;
    display:inline-block;
    -webkit-transition:-webkit-transform .1s;
            transition:transform .1s;
}

button.sequence-step:hover {
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
}

button.sequence-step.active {
    background-color:#00CD00;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border:solid 1px #00A400;
}

button.sequence-step.inactive {
    background-color:#ccc;
    border:solid 1px #c3c3c3;
}

.mute-button.active {
    background:red;
    color:white;
    border:solid 2px red;
}

.mute-button.inactive {
    background:white;
    color:#c3c3c3;
}

.dial-wrapper {
    width:70px;
    height:70px;
    position:absolute;
}